###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Environment files
.env
.env.dev

# Python
/.venv

# Project-specific directories
/src/Domain/Python/ModifiedScripts/Python/api_logs/
/src/Domain/Python/ModifiedScripts/Python/ModifiedScripts/
/src/Domain/Python/ModifiedScripts/Python/OriginalScripts/
